@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.font-zen{
    font-family: 'Zen Antique Soft', serif;
    font-weight: 400;
}
 

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #0D6EFD;
}
